body{
	margin: 0;
	background-color: #dddddd;
}

.header{
	width: 975px;
	height: 180px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black;
}

.nav{
	width: 975px;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #ececec;
	border: 1px solid black;
}

a {
	float: left;
	color: #60a0c3;
	text-align: center;
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 18px;
	font-family: Courier New;
}

a:hover {
	background-color: #ddd; 
	color: black;
}

.main{
	width: 975px;
	background-color: #dddddd;
	margin: 0px auto;
	display: table;
}

main{
	background-color: #ececec;
	width: 620px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
	border: 1px solid black;
	column-gap: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Courier New;
	background-image: url(https://i.imgur.com/T3eITU0.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 320px 360px;
}

aside{
	background-color: #ececec;

}

.right{
	width: 338px;
	background-color: #ececec;
	float: right;
	text-align: center;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Courier New;
}

footer{
	text-align: center;
	width: 975px;
	clear: both;
	background-color: #ececec;
	border: 1px solid black;
	font-family: Courier New;
}